<app-loader *ngIf="loader"></app-loader>
<section class="container" *ngIf="!loader">
    <div class="header">
        <div class="background">
            <figure>
                <div class="image"></div>
            </figure>
        </div>
        <div class="hero-name">
            <div class="name">
                <div class="text">
                    <h1>{{ characterDetail.name | uppercase }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="description">
            <h2>Description</h2>
            <p>{{ characterDetail.description }}</p>
        </div>
        <div class="informations">
            <div class="list">
                <h2>Some Comics</h2>
                <p *ngFor="let comic of characterDetail.comics.items">
                    <a role="link" (click)="detalsComics(comic.resourceURI)">{{ comic.name | lowercase }}</a>
                </p>
                <button>more comics</button>
            </div>
            <div class="list">
                <h2>Some Series</h2>
                <p *ngFor="let series of characterDetail.series.items">
                    <a role="link" (click)="detalsSeries(series.resourceURI)">{{ series.name | lowercase }}</a>
                </p>
                <button>more series</button>
            </div>
        </div>
    </div>
</section>