.container {
    .header {
        color: white;
        background-color: #151515;
        align-items: center;
        padding: 66px 30px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;

        .name {
            font-size: 2rem;
            margin: 15px 0;
        }

        .title {
            background: #530000;
            border: 1px solid;
            padding: 10px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 15px 0;

            .principal {
                text-transform: uppercase;
            }

            .secundary {
                font-size: 2.5rem;
            }
        }

        .search {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 15px 0;

            .input-area {
                input {
                    border-radius: 5px;
                    border: 0;
                    height: 30px;
                    font-family: "Marvel", sans-serif;
                    font-size: 1.5rem;
                }

                .button-search {
                    margin-left: 10px;
                    background: transparent;
                    border: 1px solid white;
                    border-radius: 10%;
                    padding: 8px;

                    .gg-search {
                        box-sizing: border-box;
                        position: relative;
                        display: inline-flex;
                        width: 16px;
                        height: 16px;
                        border: 2px solid;
                        border-radius: 100%;
                        color: white;
                    }

                    .gg-search::after {
                        content: "";
                        display: block;
                        box-sizing: border-box;
                        position: absolute;
                        border-radius: 3px;
                        width: 2px;
                        height: 8px;
                        background: currentColor;
                        transform: rotate(-45deg);
                        top: 10px;
                        left: 12px;
                    }
                }
            }

            label {
                font-size: 1rem;
            }
        }
    }

    .main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background: linear-gradient(90deg, rgba(31, 10, 10, 1) 0%, rgba(83, 0, 0, 1) 100%);
        align-items: center;
        justify-items: center;

        .character {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 30px;
            width: fill-available;

            .card {
                margin: 30px 0;
                height: 100%;
                background: #151515;
                color: white;
                min-height: 300px;
                border-radius: 0 0 30px 0;
                cursor: pointer;

                img {
                    border-bottom: 5px solid #931919;
                    object-fit: fill;
                    height: 80%;
                    width: 100%;
                    min-height: 10px;
                }

                p {
                    margin: 10px;
                    font-size: 1.5rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .card:hover {
                background: #931919;

                img {
                    border-bottom: 5px solid #151515;
                }
            }
        }

        .button-area {
            margin: 30px 30px;
            height: 150px;
            width: 150px;
            background: #151515;
            color: white;
            border-radius: 50%;
            border: 0;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:disabled {
            background: #959595;
            cursor: no-drop;
        }

        button:hover:disabled {
            background: #959595;
        }

        button:hover {
            background: #931919;
        }
    }

    .go-up {
        position: fixed;
        bottom: 5%;
        right: 5%;
        background: #151515;
        border: 1px solid #464040;
        border-radius: 100%;
        color: white;
        font-size: 25px;
        width: 50px;
        height: 50px;
        font-family: 'marvel';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
