<app-loader *ngIf="loader"></app-loader>
<section class="container" *ngIf="!loader">
    <div class="header">
        <h1 class="title">
            <span class="principal">Marvel's</span>
            <span class="secundary">Characters</span>
        </h1>
        <p class="name">Welcome, {{ name }}</p>
        <div class="input">
            <input type="search" name="Heroes" id="heroes">
            <label for="heroes">enter the hero's name</label>
        </div>
    </div>
    <div class="main">
        <div *ngFor="let character of characters" class="character">
            <div class="card" (click)="setCharacter(character)">
                <img src="{{character.thumbnail.path}}.jpg" aria-hidden="true">
                <p>{{character.name}}</p>
            </div>
        </div>
        <button *ngIf="!localLoader" (click)="getCharacters()" class="button-area">load more heroes</button>
        <app-local-loader class="button-area" *ngIf="localLoader"></app-local-loader>
    </div>
</section>