<app-loader *ngIf="loader"></app-loader>
<section class="container" *ngIf="!loader">
    <div class="header">
        <h1 class="title">
            <span class="principal">Marvel's</span>
            <span class="secundary">Characters</span>
        </h1>
        <p class="name">Welcome, {{ name }}</p>
        <div class="search">
            <div class="input-area">
                <form [formGroup]="form">
                    <input name="Heroes" id="heroes" formControlName="search">
                    <button class="button-search" (click)="searchCharacter()">
                        <i class="gg-search"></i>
                    </button>
                </form>
            </div>
            <label for="heroes">enter the hero's name</label>
        </div>
    </div>
    <div class="main">
        <div *ngFor="let character of characters" class="character">
            <div class="card" (click)="goToCharacterDetails(character)">
                <img src="{{character.thumbnail.path}}.jpg" aria-hidden="true">
                <p>{{character.name}}</p>
            </div>
        </div>
        <button [disabled]="charactersResponseComplete.count < charactersResponseComplete.limit" *ngIf="!localLoader"
            (click)="moreCharacters()" class="button-area">load more heroes</button>
        <app-local-loader class="button-area" *ngIf="localLoader"></app-local-loader>
    </div>
    <button aria-hidden="true" (click)="scrollTop()" class="go-up">&#9650;</button>
</section>