@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

body, html, h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

body, html {
    font-family: 'Marvel', sans-serif;
    height: 100%;
    background: linear-gradient(90deg, rgba(31, 10, 10, 1) 0%, rgba(83, 0, 0, 1) 100%);

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    button {
        font-family: 'Marvel', sans-serif;
        cursor: pointer;
    }
}